#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9
{
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    border: 1px solid gray;
}

#main{
    text-align: center;
}

body{
    background-color: blue;
    margin: 200px;
}